.flight-list-v2 {
    margin: 40px 15px 0px 15px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 0px 5px #e6e6e6;	
}
.flight-list-v2:hover {
    border: 1px solid #F19C4F;
    box-shadow: 0px 0px 5px #F19C4F;
}
.flight-list-v2 .airline {
    padding: 20px 0px;
}
.flight-list-v2 .airline h6 {
    margin-top: 5px;
}
.flight-list-v2 img {
    max-width: 100%;
}
.flight-list-v2 .bold {
    font-weight: normal;
}
.flight-list-v2  h3{
    font-weight: bold;
    margin: 20px 0px 0px;
}
.stop-duration {
    padding: 15px;
}
.flight-list-v2 .stop {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #e6e6e6;
    margin-top: -8px;
    margin-left: 47%;
}
.flight-list-v2 .stop-box {
    padding: 8px 10px;
    margin-left: 36%;
    width: 70px;
    position: relative;
    border: 1px solid #e6e6e6;
    z-index: -1;
    margin-top: 6px;
    text-align: center;
}
.flight-list-v2 .stop-box:before {
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    content: "";
    background: #ffffff;
    height: 10px;
    left: 42%;
    position: absolute;
    top: -6px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px;
}
.flight-list-v2 .departure {
    text-align: right;
}
.flight-list-v2 .destination {
    text-align: left;
}
.flight-list-v2 .duration {
    margin-top: 5px;
}
.flight-direction {
    border: 1px solid #e6e6e6;
    position: relative;
    margin-top: 15px;
    z-index: -1;
}
.flight-direction:after {
    background: #e6e6e6 none repeat scroll 0 0;
    border-radius: 50%;
    color: #0A3152;
    content: "";
    height: 15px;
    position: absolute;
    right: -2px;
    top: -7px;
    width: 15px;
}
.flight-direction:before {
    background: #e6e6e6 none repeat scroll 0 0;
    border-radius: 50%;
    color: #0A3152;
    content: "";
    height: 15px;
    position: absolute;
    left: -2px;
    top: -7px;
    width: 15px;
}
.flight-list-footer {
    overflow: hidden;
    background: #f7f7f7;
    padding: 10px 0px;
    color: #0A3152;
}
.flight-list-footer span{
    padding: 0px 10px;
    font-size: 13px;
}
.flight-list-footer .pull-right span{
    font-weight: bold;
    font-size: 18px;
    padding: 0;
}
.flight-list-footer .pull-right a {
    color: #ffffff;
    background: #F2676B;
    padding: 15px;
    margin-left: 20px;
    font-weight: bold;
}
.flight-list-v2:hover .flight-list-footer .pull-right a {
    background: #00ADEF;
}
.flight-list-footer .refund {
    color: #F2676B;
    border-left: 1px solid #0A3152;
    border-right: 1px solid #0A3152;
}
.flight-list-footer .fa-info-circle {
    cursor: pointer;
}
.flight-list-v2 h5 {
    color: #0A3152;
    font-size: 13px;
    margin: 5px 0px;
}
.booking-sidebar .sidebar-item {
    border: 1px solid #e6e6e6;
    box-shadow: 0px 0px 5px #e6e6e6;
}
.booking-sidebar .sidebar-item h4 {
    background: #e6e6e6 none repeat scroll 0 0;
    padding: 20px 15px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0px;
}
.booking-sidebar .sidebar-item h4 i {
    color: #F2676B;
    margin-right: 10px;
}
.booking-sidebar .sidebar-body {
    padding: 20px;
}
.booking-sidebar .sidebar-body .table {
    margin-bottom: 0px;
}
.booking-sidebar .sidebar-body table tr {
    border-bottom: 1px solid #e6e6e6;
}
.booking-sidebar .sidebar-body table tr:last-child {
    border-bottom: none;
}
.booking-sidebar .sidebar-body table td {
    border-top: none;
}
.booking-sidebar .sidebar-body .total {
    font-size: 20px;
    font-weight: bold;
}
/*        for responsive implementation*/
@media (max-width: 767px) {
    .flight-list-v2 .departure ,
    .flight-list-v2 .destination {
        text-align: center;
    }
    .flight-list-v2 .stop-box {
        margin-left: 38%;
    }
    .flight-list-v2 h3 {
        margin: 0px;
    }
    .sm-invisible {
        display: none;
    }
    .flight-list-main {
        padding-bottom: 20px;
    }
    .flight-list-v2 .airline {
        padding: 20px 0px 10px 0px;
    }
}

.login-box {
    overflow: hidden;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 0px 5px #e6e6e6;
    margin-top: 40px;
}
.login-box h3 {
    background: #e6e6e6 none repeat scroll 0 0;
    line-height: 1.6;
    margin: 0;
    padding: 10px 20px;
}
@media (max-width: 767px) {
    .login-box {
        margin-bottom: 40px;
    }
}
