
/*currently not using this file*/

html { 
/*background: url(#{resource['images/MABg.png']}) no-repeat center center fixed;*/
/*background-image: url("#{resource['images/MerlionAirlines.png']}");*/
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

@media (min-width: 768px){
    .modal-dialog {
        width: 500px;
        margin: 30px;
    }}


.modal-footer {   border-top: 0px; }

